@model EatsOnAPI.Models.Dish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeCook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeCook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ArticleDish">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
