@model EatsOnAPI.Models.DayPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DayPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticleDish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticleDish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delete)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumberPlan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
