@model IEnumerable<EatsOnAPI.Models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageIngredient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameVitamin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameProperty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageIngredient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameVitamin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProperty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NameIngredient">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NameIngredient">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NameIngredient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
